* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button {
  font-family: "Roboto", sans-serif;
}

h1, h3 {
  font-family: "Shrikhand", serif;
  font-weight: 500;
  text-align: center;
}

.titre-h2 .book-now__span-h2 {
  display: block;
  font-weight: 300;
  font-size: 16px;
}

.h2-book-now {
  text-align: center;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

@media (max-width: 768px) {
  p {
    font-size: 18px;
  }
}

.localisation {
  text-align: center;
}
.localisation input {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #333333;
}
.localisation__icon {
  font-size: 20px;
}

button {
  color: #fff;
  font-weight: 600;
  font-weight: 400 !important;
}

.functioning-list--active {
  font-weight: 500;
}

.card__menu-title {
  font-weight: 600;
  line-height: 1.5;
}
.card__menu-title--span-menu-title {
  font-weight: 300;
  font-size: 0.9em;
}
.card i {
  font-size: 1.5em;
}
.card--new-item p {
  font-weight: 500;
  font-size: 0.9em !important;
}

.footer__title {
  color: white;
  /* A changer par couleur fonction arriere plan*/
}
@media (max-width: 768px) {
  .footer__title {
    text-align: left;
  }
}
@media (max-width: 599px) {
  .footer__title {
    text-align: left;
  }
}
.footer__link {
  color: white !important;
  /* comme titre*/
  text-align: center;
}
@media (max-width: 768px) {
  .footer__link {
    text-align: left;
  }
}

.book-now__ohmyfood-cta {
  transition: transform 0.2s linear;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 50px;
  padding: 15px;
  cursor: pointer;
}
.book-now__ohmyfood-cta--bg {
  background: linear-gradient(to top, #9356dc, #ff79da);
}
.book-now__ohmyfood-cta--shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.book-now__ohmyfood-cta:hover, .book-now__ohmyfood-cta:focus, .book-now__ohmyfood-cta:active {
  transform: scale(102%);
}
.book-now__ohmyfood-cta:active {
  transform: scale(99%);
}

#restaurants .card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  #restaurants .card-container {
    flex-direction: column;
  }
}
#restaurants .card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  padding: 7% 4%;
  position: relative;
  margin: 4% 1%;
  padding: 0 !important;
  width: 33.3333333333%;
  transition: transform 0.2s linear;
}
@media (max-width: 768px) {
  #restaurants .card {
    width: 100%;
    margin: 0;
    margin-top: 10%;
  }
}
#restaurants .card:hover, #restaurants .card:focus, #restaurants .card:active {
  transform: scale(102%);
}
#restaurants .card:active {
  transform: scale(99%);
}
#restaurants .card:first-child {
  margin-left: 0;
}
@media (max-width: 768px) {
  #restaurants .card:first-child {
    margin-top: 0;
  }
}
#restaurants .card:last-child {
  margin-right: 0;
}
#restaurants .card__menu-title {
  width: 70%;
}
#restaurants .card__menu-title--span-menu-title {
  display: block;
}
#restaurants .card__description {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#restaurants .card i {
  display: inline;
}
#restaurants .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#restaurants .card--new-item {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: #278870;
  position: absolute;
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  right: 5%;
  top: 5%;
}
#restaurants .card .far:hover, #restaurants .card .far:focus, #restaurants .card .far:active {
  background: linear-gradient(to top, #9356dc, #ff79da);
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#restaurants .card .far:active {
  transform: scale(99%);
}

.functioning-list {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .functioning-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.functioning-list__number {
  margin-left: 10px;
}
@media (max-width: 768px) {
  .functioning-list__number {
    flex-direction: row;
  }
}
.functioning-list a {
  position: relative;
  width: 100%;
  margin: 3%;
  padding: 0;
  transition: transform 0.2s linear;
  color: #000;
}
.functioning-list a:hover, .functioning-list a:focus, .functioning-list a:active {
  transform: scale(102%);
}
.functioning-list a:active {
  transform: scale(99%);
}
.functioning-list__content {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  padding: 7% 4%;
  transition: background-color 0.2s ease-in-out;
}
.functioning-list__content:hover {
  background-color: #faf7fd;
}
.functioning-list__content:before {
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.functioning-list__content i {
  margin: 0 20px;
  color: #666666;
}
.functioning-list__content i:before {
  vertical-align: middle;
}
.functioning-list--active {
  background-color: #e4d5f6 !important;
}
.functioning-list--active i {
  color: #9356dc;
}

.footer {
  background-color: #383838;
}
.footer section {
  padding-top: 20px;
}
@media (max-width: 768px) {
  .footer__title {
    margin-bottom: 5%;
  }
}
.footer__link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding: 10px 0;
}
@media (max-width: 768px) {
  .footer__link {
    display: block;
    width: auto;
    padding-bottom: 2px;
  }
}
.footer__link .fas {
  margin-right: 10px;
  width: 20px;
}
.footer__link:hover, .footer__link:focus, .footer__link:active {
  text-decoration: underline;
}

.titre-h1 {
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 15px;
}

.localisation {
  background: #eaeaea;
  padding: 10px;
}
@media (max-width: 768px) {
  .localisation {
    padding: 1.3%;
  }
}
.localisation input {
  padding-left: 20px;
  background: transparent;
  border: none;
}

section {
  padding: 40px 5%;
  counter-reset: step;
}
section ol {
  list-style: none;
}
section ol li:before {
  counter-increment: step;
  content: counter(step);
  background-color: #9356dc;
  border-radius: 100%;
}

.section-bg, #restaurants {
  background-color: #f7f7f7;
}
.section-bg .titre-h2, #restaurants .titre-h2 {
  margin-bottom: 20px;
}
.section-bg .book-now__span-h2, #restaurants .book-now__span-h2 {
  margin-top: 20px;
}
