section {
  padding: 40px 5%;
  counter-reset: step;
  ol {
    list-style: none;
    li:before {
      counter-increment: step;
      content: counter(step);
      background-color: map-get($colors, color-primary);
      border-radius: 100%;
    }
  }
}

.section-bg {
  background-color: lighten(map-get($colors, gray), 5%);
  .titre-h2 {
    margin-bottom: 20px;
  }
  .book-now__span-h2 {
    margin-top: 20px;
  }
}
