.localisation {
  background: map-get($colors, gray);
  padding: 10px;
  @include tablet-only {
    padding: 4%;
  }
  &__icon {
    padding-right: 20px;
  }
  &__input {
    background: none;
    border: none;
    text-align: center;
  }
}

.book-now {
    @extend %section-bg;

  .book-now__title {
    margin-bottom: 20px;
    &--span-title {
      margin-top: 20px;
      display: block;
    }
  }
}

section {
  padding: 40px 5%;
  counter-reset: step;
  ol {
    list-style: none;
    li:before {
      counter-increment: step;
      content: counter(step);
      background-color: map-get($colors, color-primary);
      border-radius: 100%;
    }
  }
}
