.footer {
  background-color: darken(map-get($colors, gray), 70%);
  section {
    padding-top: 20px;
  }
  &__title {
    color: white; /* A changer par couleur fonction arriere plan*/
    @include tablet-only {
      text-align: left;
    }
    @include mobile-only {
      text-align: left;
    }
  }
  &__link {
    color: white; /* comme titre*/
    padding: 2% 0;
    display: inline-block;
    width: 25%;
    text-align: center;
    @include tablet-only {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
}
