.footer {
  background-color: darken(map-get($colors, gray), 70%);
  padding: 30px;
  &__title {
    margin-bottom: 20px;
  }
  &__section {
    display: flex;
    justify-content: space-around;
    @include tablet-only {
      flex-direction: column;
    }

    &__link {
      padding: 5px 0;
      width: max-content;
      &__name {
        color: #fff;
        transition: color .2s linear;
        position: relative;
        display: inline-block;
        &::after {
            transition: all .2s ease-in-out;
            content: "";
            position: absolute;
            bottom: -5px;
            display: block;
            background-color: map-get($colors, color-tertiary);
            height: 2px;
            width: 0%;
          }
        }
        &:hover {
      .footer__section__link__name {
        @include tablet-only {
          text-decoration: underline;
        }
        @include desktop-only {
              color: map-get($colors, color-tertiary);
            &::after {
              width: 100%;
            }
          }  
        }

      }
        &__icon {
          margin-right: 10px;
          width: 20px;
        }
    }
    }
  }