.titre-h1 {
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 24px;
  padding: 15px;
}

.localisation {
  background: map-get($colors, gray);
  padding: 10px;
  @include tablet-only {
    padding: 1.3%;
  }
}
