.header-page {
  box-shadow: $shadow;
  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    &__icon {
      position: absolute;
      left: 30%;
      @include tablet-only {
        left: 10%;
        
      }
      &__title {
      }
   }
 }
}
