.book-now__ohmyfood-cta {
  transition: transform 0.2s linear;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 50px;
  padding: 15px;
  cursor: pointer;
  &--bg {
    background: $color-btn;
  }
  &--shadow {
    box-shadow: $shadow;
  }
  &:hover,
  &:focus,
  &:active {
    @include zoom-effect;
  }
  &:active {
    @include scale-down-transition;
  }
}
