#restaurants {
    @extend .section-bg ;
    & .card {
        padding: 0 !important;
        & img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: bottom;
            @include card-border;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        &__container {
            @extend .functioning-list__content
        }
    }
}