.functioning {  
  &__list {
    display: flex;
    align-items: center;
    @include tablet-only {
      flex-direction: column;
      align-items: flex-start;
    }
    li {
      @include grid-layout;
      position: relative;
      width: 100%;
      margin: 2%;
      padding: 30px 15px;
      transition: transform 0.2s linear;
      color: map-get($colors, black);
      &:hover,
      &:focus,
      &:active {
        @include zoom-effect;
      }
      &:active {
        @include scale-down-transition;
      }
    }
    
    &__content {
      @include box-layout;
      transition: background-color 0.2s ease-in-out;
      background-color: lighten(map-get($colors, gray), 5%);
      &:hover {
        background-color: lighten(map-get($colors, color-primary), 37%);
      }
      &:before {
        color: map-get($colors, white);
        padding: 5px 10px;
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
      }
      i {
        float: left;
        margin: 0 20px;
        color: lighten(map-get($colors, black), 40%);
        &:before {
          vertical-align: middle;
        }
      }
      &__number {
        margin-left: 10px;
        @include tablet-only {
          flex-direction: row;
        }
      }
      &--active {
        background-color: lighten(
          map-get($colors, color-primary),
          30%
        ) !important;
        & i {
          color: map-get($colors, color-primary);
        }
      }
    }
  }
}
