@mixin title-font {
  font-family: "Shrikhand", serif;
}

@mixin text-font {
  font-family: "Roboto", sans-serif;
}

@mixin card-border{
  border-radius: 20px;
}

// RESPONSIVE
@mixin mobile-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet-only {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin desktop-only {
  @media (max-width: 1024px) {
    @content;
  }
}
