body {
  @include text-font;
}

.header-page__link {
  &__icon {
    font-weight: 600;
    font-size: 20px;
  }
  &__title {
    @include title-font;
    text-align: center;
  }
  
}

/*========== HOME ==========*/

.book-now {
  .book-now__title {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    &--span-title {
      font-weight: 300;
      font-size: 0.7em;
    }
  }
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.localisation {
  text-align: center;
  &__input {
    @include text-font;
    font-size: 16px;
    font-weight: 600;
    color: lighten(map-get($colors, black), 20%);
    &__icon {
      font-size: 1.1em;
    }
  }
}

.book-now__ohmyfood-cta {
  color: map-get($colors, white) !important;
  @extend body;
  font-size: 14px;
  font-weight: 500;
}

.functioning {
  &__list__content {
    &--active {
      font-weight: 500;
    }
  }
}

.restaurants__card-container {
  &__card {
    &--new-item {
      font-weight: 500;
      font-size: 0.9em !important;
    }
    &__description__menu-title {
    font-weight: 600;
    line-height: 1.5;
    &--span-menu-title {
      font-weight: 300;
      font-size: 0.9em;
    }
  }
  i {
    font-size: 1.5em;
  }
}
}
/*========== PAGE MENU ==========*/

.menu {
  &__title-layout {
    &__title {
      @include title-font; 
    }
    &__favorite {
      i {
        font-size: 1.5em;
      }
    }
  }
  &__container {
    &__title {
      font-weight: 400;
      text-transform: uppercase;
    }
    &__meal {
      @include box-layout;
      &__title-container {
        &__meal-title {
          font-weight: 600;
        }
        &__meal-title-span {
          font-size: 0.9em;
        }
      }
      &__price {
        font-weight: 600;
      }
      &--favourite {
        font-size: 30px;
      }
    }
  }
}

/*========== FOOTER ==========*/

.footer {
&__title {
  color: white; /* A changer par couleur fonction arriere plan*/
  font-size: 20px;
  @include title-font;
  @include desktop-only {
    text-align: center;
  }
  @include mobile-only {
    text-align: left;
  }
}
  &__section {
  &__link {
    text-align: center;
    @include tablet-only {
      text-align: left;
    }
  }
}
}