body {
  @include text-font;
}

h1 {
  @include title-font;
  text-align: center;
}

.localisation {
  text-align: center;
  &__text {
    font-weight: 600;
    color: lighten(map-get($colors, black), 20%);
  }
  &__icon {
    font-size: 20px;
  }
}

.titre-h2 {
  & .book-now__span-h2 {
    display: block;
    font-weight: 300;
    font-size: 16px;
  }
}
.h2-book-now {
  text-align: center;
}

button {
  color: map-get($colors, white);
  font-weight: 600;
  @extend body;
  font-weight: 400 !important;
}

.card {
  & .menu-title {
    font-weight: 500;
    display: block;
  }
  &__span-menu-title {
    display: inherit;
    font-weight: 400;
  }
  & i {
    color: red;
  }
}

p {
  display: inline;
}

a {
  text-decoration: none;
}

.functioning-list {
  &--active {
    font-weight: 500;
  }
}
